# ======================
# 项目依赖
# ======================
node_modules/
yarn.lock
package-lock.json
pnpm-lock.yaml

# ======================
# 编译输出
# ======================
dist/
build/
public/
*.out.js

# ======================
# 环境变量
# ======================
.env*
!.env.example  # 保留环境变量示例文件（如有）

# ======================
# 系统文件（跨平台）
# ======================
.DS_Store
.Thumbs.db
*.swp
*.bak
*.tmp

# ======================
# 编辑器配置
# ======================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.codekvstore

# ======================
# 日志和缓存
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
*.log

# ======================
# 其他临时文件
# ======================
temp/
*.temp
*.DS_Store