# 自动处理文本文件的行结束符
* text=auto

# 明确指定 .gitattributes 使用 LF
.gitattributes text eol=lf

# 允许 .gitignore 使用 CRLF
*.gitignore text eol=crlf

# 其他代码文件使用 LF
*.js text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# 二进制文件不处理
*.png binary
*.jpg binary
*.gif binary